<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <!--矢量瓦片工具-->
    <add key="VECTILETOOLPATH" value="D:\tomcat7\webapps\mapserver"/>
    <!--配置文件目录-->
    <add key="VECTILECONFPATH" value="D:\tomcat7\webapps\mapserver\WEB-INF\classes\conf"/>
    <!--NodeJs启动路径-->
    <add key="VECTILENODEJSPATH" value="D:\tomcat7\webapps\mapserver\server\run.bat"/>
    <!--Tomcat启动路径-->
    <add key="VECTILETOMCATPATH" value="D:\tomcat7\bin\startup.bat"/>
    <!--切片工具启动路径-->
    <add key="VECTILETILECUTERPATH" value="D:\tomcat7\webapps\mapserver\WEB-INF\runCuter.bat"/>
    <!--监听端口-->
    <add key="LISTENERPORT" value="56789"/>
  </appSettings>
</configuration>
